/* Body & titles */


body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--color-body);
}

main > h1,
main > h2,
main > h3,
main > h4{
  font-family: var(--font-title);
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  color: var(--tfff-green);
  line-height: 1;
}

h2 {
  font-size: 14pt;
  font-weight: normal;
  color: var(--tfff-green);
  line-height: 3.1;
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: -0.06in;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  color: var(--tfff-green);
  line-height: 1;
  margin-block-end: 0;
}

h4 {
  font-size: 12pt;
}

.figure {
  break-inside: avoid;
}

p {
  margin-block-end: 0;
  margin-block-start:  -0.01in;
}
