/* Body & titles */


body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--color-body);
}

main>h1,
main>h2,
main>h3,
main>h4 {
  font-family: var(--font-title);
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  color: var(--tfff-green);
  line-height: 1;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  color: var(--tfff-green);
  line-height: 1;
  margin-block-end: 0.1in;
  margin-block-start: 0.1in;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  color: var(--tfff-green);
  line-height: 1;
  margin-block-end: 0.1in;
  font-size: 20pt;
  margin-top: 0pt;
  margin-bottom: 6pt;
}

h4 {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 12pt;
  margin-bottom: 4pt;
}

.figure {
  break-inside: avoid;
}

p {
  font-size: 11pt;
}

hr {
  border: 1px solid var(--tfff-light-gray)
}

blockquote {
  margin-left: 0.5cm;
  background-color: var(--tfff-lightlightgreen);
  padding: 0.5cm;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Dotted green */
.dotted-green {
  background-color: var(--tfff-green);
  font-size: 10pt;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 0.5cm;
  height: 0.5cm;
  line-height: 0.5cm;
  display: inline-table;
  text-align: center;
  vertical-align: middle;
  margin: 3px 0;
}

.dotted-div > p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.small-text {
  font-size: 12px;
}

.text-it > p {
  font-style: italic ;
}
