/* Layout */

/* pages */
@page {
  /* american paper size */
  size: 8.5in 11in;

}

/* Margins for text */
.main {

}

/* Columns */
.wrap-columns {
  display: flex;
  padding: 0 0pt;
}

.columns-25 {
  flex: 25%;
}

.columns-33 {
  flex: 33%;
}

.columns-50 {
  flex: 50%;
  padding-left: 0.1in;
  padding-right:0.1in;
}

.columns-67 {
  flex: 67%;
}

.columns-75 {
  flex: 75%;
}

.columns-20 {
  flex: 20%;
}

/* Specific */
.descr-block {
  margin-top: -5in;
  margin-bottom: -0.1in;
  background-color: var(--tfff-green);
  border-radius: 10px;
  font-size: 11pt;
  color: white;
  text-align: center;
}

/* Table */
.tabwid table {
  margin-top: 0cm;
  margin-bottom: 0cm;
}
