/* First page */

@page:first {

    margin-top: 0.2in;

    /* top */
    @top-left-corner {
        content: "";
        background-color: var(--tfff-medium-green);
    }

    @top-left {
        content: "";
        background-color: var(--tfff-medium-green);
    }

    @top-center {
        content: "";
        background-color: var(--tfff-medium-green);
    }

    @top-right {
        content: "";
        background-color: var(--tfff-medium-green);
    }

    @top-right-corner {
        content: "";
        background-color: var(--tfff-medium-green);
    }

}

/* Title & subtitle */

h1.title {
    string-set: title content(text);
    margin-top: 1.5in;
    margin-bottom: 0.4in;
    font-size: 24pt;
    text-transform: uppercase;
    font-family: var(--font-title);
}

h1.subtitle {
    position: absolute;
    margin-top: -1.4in;
    color: var(--tfff-medium-green);
    font-size: 28pt;
    font-weight: normal;
    font-family: var(--font-title);
}

/* Specific */
.descr-block {
    margin-top: -2.5in;
    margin-bottom: 7px;
    padding-top: 0.3in;
    line-height: 0.1;
    background-color: var(--tfff-green);
    font-size: 11pt;
    color: white;
    text-align: center;
}

.descr-block>p {
    font-size: 11pt
}