:root {
  /* interface */
  --color-background: rgba(0, 0, 0, 0.2);
  --color-paper: white;

  /* fonts */
  --font-main: "Figtree";
  --font-title: "Figtree";

  /* base unit */
  --unit: 2cm;
  --margin-unit: 0.5cm;

  /* margin */
  --pagedjs-margin-left: 0.5in;
  --pagedjs-margin-right: 0.5in;
  --pagedjs-margin-bottom: 0.3in;
  --pagedjs-margin-top: 0.4in;

  /* fonts */
  --font-size: 14px;
  --color-body: black;

  /* colors */
  --tfff-green: #265142;
  --tfff-medium-green: #71A850;
  --tfff-lightgreen: #B5CC8E;
  --tfff-lightlightgreen: #f5f7f0;
  --tfff-darkgray: #545454;
  --tfff-medium-gray: #a8a8a8;
  --tfff-light-gray: #eeeeee;
}
